@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap);
.header-section .menu {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.header-section .menu img {
  transform: rotate(0deg);
}
.header-section .menu img {
  transition: all 0.5s ease-in-out;
}
.header-section .menu.none {
  display: none;
}
.header-section .menu.active {
  transform: rotate(180deg);
}
.header-section .menu.active img {
  transform: rotate(180deg);
}
.menu-wrapper {
  position: fixed;
  max-width: 280px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  right: -420px;
  bottom: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .menu-wrapper {
    max-width: 100%;
    right: -100%;
  }
}
.menu-wrapper.show {
  right: 0;
}
.menu-wrapper .close-menu {
  padding: 40px 0;
}
.menu-wrapper .close-menu .close {
  display: flex;
  padding: 25px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .close-menu .close.cross {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 75px;
  height: 75px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .menu-wrapper .close-menu .close.cross {
    width: 30px;
    height: 30px;
  }
}
.menu-wrapper .close-menu .close.cross:hover {
  opacity: 1;
}
.menu-wrapper .close-menu .close.cross:before,
.menu-wrapper .close-menu .close.cross:after {
  position: absolute;
  left: 28px;
  top: -13px;
  content: ' ';
  height: 35px;
  width: 2px;
  background-color: #fff;
  opacity: 1;
}
.menu-wrapper .close-menu .close.cross:before {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.menu-wrapper .close-menu .close.cross:after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}
.menu-wrapper .close-menu .close.cross.active:before {
  transform: rotate(45deg);
}
.menu-wrapper .close-menu .close.cross.active:after {
  transform: rotate(-45deg);
}
.menu-wrapper .close-menu .close span {
  margin-left: auto;
  font-size: 21px;
  position: absolute;
  z-index: 2;
  background: #fff;
  font-size: 18px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .close p {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.menu-wrapper .close.bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: 25px;
  padding: 0 25px;
  width: 100%;
}
.menu-wrapper .close.bottom span {
  text-align: right;
  display: block;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}
.menu-wrapper .close.bottom span img {
  width: 25px;
}
.menu-wrapper .nav {
  padding: 30px;
  height: 85vh;
}
.menu-wrapper .nav .menu {
  display: flex;
  align-items: center;
  padding: 10px 0;
  -webkit-animation: drop 0.9s;
  animation: drop 0.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.menu-wrapper .nav .menu:nth-child(2) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.menu-wrapper .nav .menu:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menu-wrapper .nav .menu:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.menu-wrapper .nav .menu:first-child {
  margin-top: 0;
}
.menu-wrapper .nav .menu span.icon {
  height: 18px;
  margin-right: 15px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .nav .menu span.icon img {
  width: 18px !important;
}
.menu-wrapper .nav .menu .name {
  font-size: 16px;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
@-webkit-keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.logo img {
  width: 85px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .logo img {
    width: 90px;
  }
}

.header-section {
  padding: 25px 0px;
}
@media only screen and (max-width: 768px) {
  .header-section {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 558px) {
  .header-section {
    padding: 15px 0px;
  }
}
.header-section .grid {
  display: flex;
  align-items: center;
}
.header-section .grid .column.column-right {
  margin-left: auto;
}
.header-section .grid .column.column-right .menu img {
  width: 25px;
}
.screen-pattern {
  background: transparent;
  background-image: url("http://aradesign.in/content/common/bg-triangle.png");
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.screen-pattern {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
}

@font-face {
  font-family: 'Codec';
  font-style: normal;
  font-weight: 400;
  src: local('Codec'), local('Codec-Regular'), url(424d65a6653d5b2977864ad2b2c789a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller-Regular'), url(785388a9e6416c286ec82ff966c696fd.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  cursor: url(http://aradesign.in/content/common/gray-cursor.png) 15 13, default;
}
body {
  cursor: url(http://aradesign.in/content/common/white-cursor.png) 15 13, default;
  padding: 0;
  margin: 0;
  background: #000;
}
body .main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  body .main-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 558px) {
  body .main-container {
    padding: 0 15px;
  }
}
.main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container .row {
  width: 100%;
}
.main-container .row .container {
  width: 100%;
}
.main-container .row .container .grid {
  display: flex;
}
.main-container .row .container .grid .column.column-right {
  margin-left: auto;
}
.main-container .row .container .grid .column.column-right .menu img {
  width: 25px;
}
.main-container .super-container .row .container.project-details {
  padding: 0 15px;
}
.main-container .super-container .row .container.project-details .grid {
  height: 70vh;
  align-items: center;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .grid {
    display: block;
  }
}
.main-container .super-container .row .container.project-details .column-left {
  width: 65%;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .column-left {
    width: 100%;
  }
}
.main-container .super-container .row .container.project-details .column-left img {
  width: 100%;
}
.main-container .super-container .row .container.project-details .column-left .slick-dots {
  bottom: 0;
  margin-bottom: 10px;
  text-align: right;
}
.main-container .super-container .row .container.project-details .column-left .slick-dots li button {
  margin-right: 0px;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 16px solid #4d4d4d;
  transition: all 0.5s ease-in-out;
  border-radius: 2px;
  padding: 0;
}
.main-container .super-container .row .container.project-details .column-left .slick-dots li button:hover {
  border-bottom: 16px solid #fff;
}
.main-container .super-container .row .container.project-details .column-left .slick-dots li button::before {
  width: 0;
  color: transparent;
}
.main-container .super-container .row .container.project-details .column-left .slick-dots li.slick-active button {
  border-bottom: 16px solid #fff;
}
.main-container .super-container .row .container.project-details .column-right {
  width: 32%;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .column-right {
    width: 100%;
  }
}
.main-container .super-container .row .container.project-details .detail-content {
  margin-bottom: 25px;
  padding-left: 30px;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .detail-content {
    padding: 30px 0;
  }
}
.main-container .super-container .row .container.project-details .detail-content h2 {
  font-size: 32px;
  color: #fff;
  font-weight: 700;
  line-height: 38px;
  padding-bottom: 10px;
  margin: 0;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .detail-content h2 {
    text-align: left;
  }
}
.main-container .super-container .row .container.project-details .detail-content .tags {
  padding: 5px 0 15px;
}
.main-container .super-container .row .container.project-details .detail-content .tags span {
  font-size: 16px;
  display: block;
  color: #fff;
  font-weight: 400;
  line-height: 18px;
  margin: 10px 0;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .detail-content .tags span {
    text-align: left;
  }
}
.main-container .super-container .row .container.project-details .detail-content p {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  line-height: 23px;
  margin: 0;
  text-align: right;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-details .detail-content p {
    text-align: left;
  }
}
.main-container .super-container .slider-popup {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  justify-content: center;
}
.main-container .super-container .slider-popup .close-menu {
  padding: 40px 0;
  position: absolute;
  top: 0;
  right: 0;
}
.main-container .super-container .slider-popup .close-menu .close {
  display: flex;
  padding: 25px;
}
.main-container .super-container .slider-popup .close-menu .close.cross {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 75px;
  height: 75px;
  padding: 0;
}
.main-container .super-container .slider-popup .close-menu .close.cross:hover {
  opacity: 1;
}
.main-container .super-container .slider-popup .close-menu .close.cross:before,
.main-container .super-container .slider-popup .close-menu .close.cross:after {
  position: absolute;
  left: 28px;
  top: -13px;
  content: ' ';
  height: 35px;
  width: 2px;
  background-color: #fff;
  opacity: 1;
}
.main-container .super-container .slider-popup .close-menu .close.cross:before {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.main-container .super-container .slider-popup .close-menu .close.cross:after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}
.main-container .super-container .slider-popup .close-menu .close.cross.active:before {
  transform: rotate(45deg);
}
.main-container .super-container .slider-popup .close-menu .close.cross.active:after {
  transform: rotate(-45deg);
}
.main-container .super-container .slider-popup .close-menu .close span {
  margin-left: auto;
  font-size: 21px;
  position: absolute;
  z-index: 2;
  background: #fff;
  font-size: 18px;
}
.main-container .super-container .slider-popup .slider-inner {
  width: 70%;
  margin: 0 auto;
}

@font-face {
  font-family: 'Codec';
  font-style: normal;
  font-weight: 400;
  src: local('Codec'), local('Codec-Regular'), url(424d65a6653d5b2977864ad2b2c789a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller-Regular'), url(785388a9e6416c286ec82ff966c696fd.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  cursor: url(http://aradesign.in/content/common/gray-cursor.png) 15 13, default;
}
body {
  cursor: url(http://aradesign.in/content/common/white-cursor.png) 15 13, default;
  padding: 0;
  margin: 0;
  background: #000;
}
body .main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  body .main-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 558px) {
  body .main-container {
    padding: 0 15px;
  }
}
.main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container.contact-us {
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 0 25px;
  }
}
.main-container .super-container .row .container.contact-container img {
  cursor: default !important;
}
.main-container .super-container .row .container.contact-container .__react_component_tooltip.place-top {
  z-index: 99;
  padding: 10px;
  background-color: #fff !important;
}
.main-container .super-container .row .container.contact-container .project-lst {
  background: #fff;
}
.main-container .super-container .row .container.contact-container .project-lst .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.main-container .super-container .row .container.contact-container .project-lst .list .image {
  width: 100px;
  margin-right: 10px;
}
.main-container .super-container .row .container.contact-container .project-lst .list .name span {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  line-height: 26px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
.main-container .super-container .row .container.contact-container .left-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  left: 0;
  padding: 0 15px;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.contact-container .left-content {
    max-width: 100%;
    width: 100vw;
    padding: 20px;
    position: fixed;
    margin-bottom: 0px;
  }
}
.main-container .super-container .row .container.contact-container .left-content .title-text {
  display: flex;
  padding-bottom: 10px;
}
.main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
  font-size: 42px;
  color: #fff;
  font-weight: 800;
  line-height: 52px;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 38px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 32px;
    line-height: 37px;
  }
}
.main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
  font-size: 38px;
  color: #fff;
  font-weight: 800;
  line-height: 52px;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
    font-size: 38px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
    font-size: 32px;
    line-height: 37px;
  }
}
@media screen and (max-width: 768px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 320px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 18px;
    line-height: 28px;
  }
}
.main-container .super-container .row .container.contact-container .left-content p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  padding: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content p {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 0;
    width: 100%;
  }
}
.main-container .super-container .row .container.contact-container .left-content p span .pipe {
  margin: 0 5px;
}
.main-container .super-container .row .container.contact-container .left-content p span:last-child .pipe {
  display: none;
}
.main-container .super-container .row .container.contact-container .left-content h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content h4 {
    font-size: 16px;
    line-height: 23px;
  }
}
.main-container .super-container .row .container.contact-container .left-content h4 a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content h4 a {
    font-size: 16px;
    line-height: 23px;
  }
}
.main-container .super-container .modal-wrapper {
  width: 400px;
  height: 200px;
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -100px;
  z-index: 99;
}
.main-container .super-container .modal-wrapper .close-menu {
  padding: 20px 0;
}
.main-container .super-container .modal-wrapper .close-menu .close {
  display: flex;
  padding: 25px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.main-container .super-container .modal-wrapper .close-menu .close.cross {
  position: absolute;
  right: 20px;
  top: 20px;
  width: 30px;
  height: 30px;
  padding: 0;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .modal-wrapper .close-menu .close.cross {
    width: 30px;
    height: 30px;
  }
}
.main-container .super-container .modal-wrapper .close-menu .close.cross:hover {
  opacity: 1;
}
.main-container .super-container .modal-wrapper .close-menu .close.cross:before,
.main-container .super-container .modal-wrapper .close-menu .close.cross:after {
  position: absolute;
  left: 28px;
  top: -13px;
  content: ' ';
  height: 35px;
  width: 2px;
  background-color: #fff;
  opacity: 1;
}
.main-container .super-container .modal-wrapper .close-menu .close.cross:before {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.main-container .super-container .modal-wrapper .close-menu .close.cross:after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}
.main-container .super-container .modal-wrapper .close-menu .close.cross.active:before {
  transform: rotate(45deg);
}
.main-container .super-container .modal-wrapper .close-menu .close.cross.active:after {
  transform: rotate(-45deg);
}
.main-container .super-container .modal-wrapper .close-menu .close span {
  margin-left: auto;
  font-size: 21px;
  position: absolute;
  z-index: 2;
  background: #fff;
  font-size: 18px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.main-container .super-container .modal-wrapper .modal-body {
  padding: 0px 30px;
  width: 400px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: scroll;
}
.main-container .super-container .modal-wrapper .modal-body .list {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
.main-container .super-container .modal-wrapper .modal-body .list div {
  padding: 8px 0;
}


/*# sourceMappingURL=styles.chunk.css.map*/