@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700,800,900&display=swap);
@import url(https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,700,800,900&display=swap);
.header-section .menu {
  transform: rotate(0deg);
  transition: all 0.5s ease-in-out;
}
.header-section .menu img {
  transform: rotate(0deg);
}
.header-section .menu img {
  transition: all 0.5s ease-in-out;
}
.header-section .menu.none {
  display: none;
}
.header-section .menu.active {
  transform: rotate(-180deg);
}
.header-section .menu.active img {
  transform: rotate(-180deg);
}
.menu-wrapper {
  position: fixed;
  max-width: 280px;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
  right: -420px;
  bottom: 0;
  top: 0;
  transition: all 0.5s ease-in-out;
  z-index: 2;
}
@media only screen and (max-width: 768px) {
  .menu-wrapper {
    max-width: 100%;
    right: -100%;
  }
}
.menu-wrapper.show {
  right: 0;
}
.menu-wrapper .close-menu {
  padding: 40px 0;
}
.menu-wrapper .close-menu .close {
  display: flex;
  padding: 25px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .close-menu .close.cross {
  position: absolute;
  right: 40px;
  top: 40px;
  width: 75px;
  height: 75px;
  padding: 0;
}
.menu-wrapper .close-menu .close.cross:hover {
  opacity: 1;
}
.menu-wrapper .close-menu .close.cross:before,
.menu-wrapper .close-menu .close.cross:after {
  position: absolute;
  left: 28px;
  top: -13px;
  content: ' ';
  height: 35px;
  width: 2px;
  background-color: #fff;
  opacity: 1;
}
.menu-wrapper .close-menu .close.cross:before {
  transition: all 0.5s ease-in-out;
  transform: rotate(-90deg);
}
.menu-wrapper .close-menu .close.cross:after {
  transition: all 0.5s ease-in-out;
  transform: rotate(-180deg);
}
.menu-wrapper .close-menu .close.cross.active:before {
  transform: rotate(45deg);
}
.menu-wrapper .close-menu .close.cross.active:after {
  transform: rotate(-45deg);
}
.menu-wrapper .close-menu .close span {
  margin-left: auto;
  font-size: 21px;
  position: absolute;
  z-index: 2;
  background: #fff;
  font-size: 18px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .close p {
  font-size: 14px;
  color: #fff;
  line-height: 18px;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 20px;
}
.menu-wrapper .close.bottom {
  position: absolute;
  bottom: 0;
  left: 0px;
  margin-bottom: 25px;
  padding: 0 25px;
  width: 100%;
}
.menu-wrapper .close.bottom span {
  text-align: right;
  display: block;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
}
.menu-wrapper .nav {
  padding: 30px;
  height: 85vh;
}
.menu-wrapper .nav .menu {
  display: flex;
  align-items: center;
  padding: 10px 0;
  -webkit-animation: drop 0.9s;
  animation: drop 0.9s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  opacity: 1;
}
.menu-wrapper .nav .menu:nth-child(2) {
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
}
.menu-wrapper .nav .menu:nth-child(3) {
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
}
.menu-wrapper .nav .menu:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}
.menu-wrapper .nav .menu:first-child {
  margin-top: 0;
}
.menu-wrapper .nav .menu span.icon {
  height: 22px;
  margin-right: 20px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.menu-wrapper .nav .menu .name {
  font-size: 21px;
  color: #fff;
  font-family: 'IBM Plex Sans', sans-serif;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
@-webkit-keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}
@keyframes drop {
  from {
    top: 0px;
  }
  70% {
    top: 165px;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  to {
    top: 150px;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
}

.logo img {
  width: 85px;
  height: auto;
}
@media only screen and (max-width: 768px) {
  .logo img {
    width: 90px;
  }
}

.header-section {
  padding: 25px 0px;
}
@media only screen and (max-width: 768px) {
  .header-section {
    padding: 20px 0px;
  }
}
@media only screen and (max-width: 558px) {
  .header-section {
    padding: 15px 0px;
  }
}
.header-section .grid {
  display: flex;
  align-items: center;
}
.header-section .grid .column.column-right {
  margin-left: auto;
}
.header-section .grid .column.column-right .menu img {
  width: 25px;
}
.screen-pattern {
  background: transparent;
  background-image: url("http://aradesign.in/content/common/bg-triangle.png");
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

.screen-pattern {
  background: transparent;
  background-image: url("http://aradesign.in/content/common/bg-image.png");
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  z-index: 2;
}

@font-face {
  font-family: 'Codec';
  font-style: normal;
  font-weight: 400;
  src: local('Codec'), local('Codec-Regular'), url(424d65a6653d5b2977864ad2b2c789a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller-Regular'), url(785388a9e6416c286ec82ff966c696fd.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
body {
  cursor: url(http://aradesign.in/content/common/white-cursor.png) 15 13, default;
  padding: 0;
  margin: 0;
  background: #000;
}
body .main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  body .main-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 558px) {
  body .main-container {
    padding: 0 15px;
  }
}
.main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 0 25px;
  }
}
.main-container .super-container .row .container.contact-container img {
  cursor: default !important;
}
.main-container .super-container .row .container.contact-container .__react_component_tooltip.place-top {
  z-index: 99;
  padding: 10px;
  background-color: #fff !important;
}
.main-container .super-container .row .container.contact-container .project-lst {
  background: #fff;
}
.main-container .super-container .row .container.contact-container .project-lst .list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
.main-container .super-container .row .container.contact-container .project-lst .list .image {
  width: 100px;
  margin-right: 10px;
}
.main-container .super-container .row .container.contact-container .project-lst .list .name span {
  font-size: 22px;
  color: #333;
  font-weight: 700;
  line-height: 26px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
.main-container .super-container .row .container.contact-container .left-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  left: 0;
  padding: 0 15px;
  z-index: 99;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.contact-container .left-content {
    max-width: 100%;
    width: 100vw;
    padding: 20px;
    position: fixed;
    margin-bottom: 0px;
  }
}
.main-container .super-container .row .container.contact-container .left-content .title-text {
  display: flex;
  padding-bottom: 10px;
}
.main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
  font-size: 42px;
  color: #fff;
  font-weight: 800;
  line-height: 52px;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 38px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 32px;
    line-height: 37px;
  }
}
.main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
  font-size: 38px;
  color: #fff;
  font-weight: 800;
  line-height: 52px;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
    font-size: 38px;
    line-height: 37px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence span {
    font-size: 32px;
    line-height: 37px;
  }
}
@media screen and (max-width: 768px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 320px) {
  .main-container .super-container .row .container.contact-container .left-content .title-text .rw-sentence {
    font-size: 18px;
    line-height: 28px;
  }
}
.main-container .super-container .row .container.contact-container .left-content p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  width: 665px;
  padding: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content p {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 0;
    width: 100%;
  }
}
.main-container .super-container .row .container.contact-container .left-content h4 {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content h4 {
    font-size: 16px;
    line-height: 23px;
  }
}
.main-container .super-container .row .container.contact-container .left-content h4 a {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  text-decoration: none;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.contact-container .left-content h4 a {
    font-size: 16px;
    line-height: 23px;
  }
}

@font-face {
  font-family: 'Codec';
  font-style: normal;
  font-weight: 400;
  src: local('Codec'), local('Codec-Regular'), url(424d65a6653d5b2977864ad2b2c789a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller-Regular'), url(785388a9e6416c286ec82ff966c696fd.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
body {
  cursor: url(http://aradesign.in/content/common/white-cursor.png) 15 13, default;
  padding: 0;
  margin: 0;
  background: #000;
}
body .main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  body .main-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 558px) {
  body .main-container {
    padding: 0 15px;
  }
}
.main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
.main-container .row {
  width: 100%;
}
.main-container .row .container {
  width: 100%;
}
.main-container .row .container .grid {
  display: flex;
}
.main-container .row .container .grid .column.column-right {
  margin-left: auto;
}
.main-container .row .container .grid .column.column-right .menu img {
  width: 25px;
}
.main-container .super-container .row .container.project-container {
  width: 100%;
}
.main-container .super-container .row .container.project-container .left-content {
  max-width: 250px;
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  left: 0;
}
.main-container .super-container .row .container.project-container .grid {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -19px;
}
.main-container .super-container .row .container.project-container .grid .column {
  width: 25%;
  padding: 15px 19px;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-container .grid .column {
    width: 50%;
  }
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.project-container .grid .column {
    width: 100%;
  }
}
.main-container .super-container .row .container.project-container .grid .column a {
  text-decoration: none;
}
.main-container .super-container .row .container.project-container .grid .column .project-list {
  position: relative;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.main-container .super-container .row .container.project-container .grid .column .project-list:hover .project-slider,
.main-container .super-container .row .container.project-container .grid .column .project-list:hover .project-overlay {
  opacity: 1;
}
.main-container .super-container .row .container.project-container .grid .column .project-list .project-slider {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.main-container .super-container .row .container.project-container .grid .column .project-list .project-slider .sliderWrapper {
  max-width: 484px;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-container .grid .column .project-list .project-slider .sliderWrapper {
    max-width: auto;
  }
}
.main-container .super-container .row .container.project-container .grid .column .project-list .project-slider .sliderWrapper img {
  max-width: 484px;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-container .grid .column .project-list .project-slider .sliderWrapper img {
    max-width: auto;
  }
}
.main-container .super-container .row .container.project-container .grid .column .project-list .project-overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 2s ease 0s;
  transition: all 2s ease 0s;
}
.main-container .super-container .row .container.project-container .grid .column .project-list .project-overlay .details-section h2 {
  font-size: 16px;
  color: #fff;
  font-weight: 700;
  line-height: 18px;
  padding: 15px 0;
  margin: 0;
  text-align: center;
  font-family: 'IBM Plex Sans', sans-serif;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.project-container .grid .column .project-list .project-overlay .details-section h2 {
    font-size: 14px;
    line-height: 16px;
  }
}
.main-container .super-container .row .container.project-container .grid .column .image-wrapper img {
  width: 100%;
}

@font-face {
  font-family: 'Codec';
  font-style: normal;
  font-weight: 400;
  src: local('Codec'), local('Codec-Regular'), url(424d65a6653d5b2977864ad2b2c789a8.ttf) format('truetype');
}
@font-face {
  font-family: 'Aller';
  font-style: normal;
  font-weight: 400;
  src: local('Aller'), local('Aller-Regular'), url(785388a9e6416c286ec82ff966c696fd.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  outline: none;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
img {
  width: 100%;
  height: 100%;
}
a {
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
body {
  cursor: url(http://aradesign.in/content/common/white-cursor.png) 15 13, default;
  padding: 0;
  margin: 0;
  background: #000;
}
body .main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
  z-index: 3;
}
@media only screen and (max-width: 768px) {
  body .main-container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 558px) {
  body .main-container {
    padding: 0 15px;
  }
}
.main-container {
  height: 100vh;
  position: relative;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (max-width: 768px) {
  .main-container {
    padding: 0 25px;
  }
}
.main-container .super-container .row .container.home-container .left-content {
  position: absolute;
  bottom: 0;
  margin-bottom: 25px;
  left: 0;
  padding: 0 15px;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .left-content {
    max-width: 100%;
    width: 100vw;
    padding: 20px;
    position: fixed;
    margin-bottom: 0px;
  }
}
.main-container .super-container .row .container.home-container .left-content .title-text {
  display: flex;
  padding-bottom: 5px;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content .title-text {
    padding-bottom: 10px;
  }
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence {
  font-size: 42px;
  color: #fff;
  font-weight: 800;
  line-height: 58px;
  display: flex;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence {
    font-size: 40px;
    line-height: 47px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence {
    font-size: 32px;
    line-height: 37px;
  }
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence span {
  font-size: 38px;
  color: #fff;
  font-weight: 800;
  line-height: 58px;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence span {
    font-size: 40px;
    line-height: 47px;
  }
}
@media only screen and (max-width: 375px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence span {
    font-size: 32px;
    line-height: 37px;
  }
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words {
  display: inline;
  text-indent: 5px;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-words {
    text-indent: 5px;
  }
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 12s linear infinite 0s;
  -ms-animation: rotateWord 12s linear infinite 0s;
  animation: rotateWord 12s linear infinite 0s;
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s;
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 6s;
  animation-delay: 9s;
}
.main-container .super-container .row .container.home-container .left-content .title-text .rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s;
}
@-webkit-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@-ms-keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -ms-transform: translateY(30px);
  }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -ms-transform: translateY(-30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes rotateWord {
  0% {
    opacity: 0;
  }
  2% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
  }
  20% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@media screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence {
    font-size: 24px;
    line-height: 32px;
  }
}
@media screen and (max-width: 320px) {
  .main-container .super-container .row .container.home-container .left-content .title-text .rw-sentence {
    font-size: 18px;
    line-height: 28px;
  }
}
.main-container .super-container .row .container.home-container .left-content p {
  font-size: 18px;
  color: #fff;
  font-weight: 400;
  line-height: 28px;
  margin: 0;
  width: 665px;
  padding: 20px 0 0;
  font-family: 'Montserrat', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content p {
    font-size: 14px;
    line-height: 18px;
    padding: 20px 0;
    width: 100%;
  }
}
.main-container .super-container .row .container.home-container .left-content h4 {
  font-size: 21px;
  color: #fff;
  font-weight: 700;
  line-height: 24px;
  padding: 20px 0 0;
  margin: 0;
  font-family: 'IBM Plex Sans', sans-serif;
}
@media only screen and (max-width: 558px) {
  .main-container .super-container .row .container.home-container .left-content h4 {
    font-size: 16px;
  }
}
.main-container .super-container .row .container.home-container .column-right .project-sliders {
  position: relative;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .column-right .project-sliders {
    display: none;
  }
}
.main-container .super-container .row .container.home-container .column-right .project-sliders .slider-section {
  width: 350px;
  height: 70vh;
  position: absolute;
  right: 15px;
  top: 0;
  transition: all 0.5s ease-in-out;
  display: none;
}
.main-container .super-container .row .container.home-container .column-right .project-sliders .slider-section .slick-slider {
  max-width: 350px;
  width: 100%;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .column-right .project-sliders .slider-section {
    width: 100%;
    height: auto;
  }
}
.main-container .super-container .row .container.home-container .column-right .project-sliders .slider-section img {
  height: 70vh;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .column-right .project-sliders .slider-section img {
    width: 100%;
  }
}
.main-container .super-container .row .container.home-container .column-right .bullets {
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 25px 25px 0;
  width: 250px;
  display: flex;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .main-container .super-container .row .container.home-container .column-right .bullets {
    display: none;
  }
}
.main-container .super-container .row .container.home-container .column-right .bullets .list {
  padding: 15px 0;
}
.main-container .super-container .row .container.home-container .column-right .bullets .list span {
  margin: 0 5px;
  cursor: url(http://aradesign.in/content/common/red-cursor.png) 15 13, default;
}
.main-container .super-container .row .container.home-container .column-right .bullets .list span img {
  width: 20px;
}
.screen__video {
  overflow: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.screen__video:before {
  content: '';
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.screen__video video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  font-family: 'object-fit: cover;';
  position: absolute;
  z-index: 1;
  opacity: 1;
}
@keyframes move {
  0% {
    top: 0px;
  }
  20% {
    top: -32px;
  }
  40% {
    top: -64px;
  }
  60% {
    top: -96px;
  }
  80% {
    top: -128px;
  }
}


/*# sourceMappingURL=styles.chunk.css.map*/